<div class="layout">
  <div class="header"></div>
  <div class="article">
    this is cool <span class="icon-anchor-2x "></span> slugs rule

    <div class="spam">
      <div class="x-button">
      </div>
    </div>
  </div>
  <div class="story"></div>
  <div class="other">
     <p>               _
             /_\
_            )_(            _
|`-.___,.-~'`|=|`'~-.,___,-'|
|  __________|=|__________  |
| |    ______|=|__________| | ___      _      _  _   _             _
| |   |  ____|=|_____     / |  |  |_| |_  |  |_ | _ |_ |\| |\  /\ |_
| |   | /    |=|    /    /| |  |  | | |_  |_ |_ |_| |_ | | |/  \/ |
| |   |/   ,-|_|-. / /  /_|_|______ ______     _______        ____
| |      ,' _____ / // / \    ___  |\    /     \      `.      \   \
| |     / ,'| A |/ // /   |  |   \ | |  |       |  |`.  \     /    \
| |    /_// |/V\/ // /    |  |    \| |  |       |  |  \  \   /  /\  \
| |      /__| |/  / /     |  |       |  |       |  |   \  | /  /  \  \
| |     /\  | / /| /\     |  |__/|   |  |       |  |   |  ||  |    |  |
| |    /  \ |/ // // \    |   __ |   |  |       |  |   |  ||  |____|  |
| |   /    \/ |/ //   \   |  |  \|   |  |       |  |   |  ||   ____   |
| |  /     /    //     \  |  |       |  |       |  |   /  ||  |    |  |
| | /     / /  /|       \ |  |    /| |  |    /| |  |  /  / |  |    |  |
| |/_____/ // / |________\|  |___/ | |  |___/ | |  |,'  /  |  |    |  |
| |     / // /| |        /_________|/_________|/______,'  /____\  /____\
\ \    / // / | |       /|/ /_               ___  ___    _   _  _  _ ___
 \ \  /  / /| | |______/ | //_\  |  | |\| |/  |/\  | |_||_  |_)/_\(_` |
  \ \/______| | |________|/ | |  |_ | | | |\  |\/  | | ||_  |  | |._) |
   `.`.     | | |     ,','
     `.`.   | | |   ,','    _        _        _        _
       `.`-.| | |,-','     |.\      |.\      |.\      |.\
         `-.| | |,-'        \\\      \\\      \\\      \\\
            | | |    ________\\\______\\\______\\\______\\\_____________
            | | |   | .--  __        __    ,--.        __   __   __| _  |
            | | |   | |-  /  \ |  | |  `   `--. | | | /  \ |  ` /  |(_` |
            | | |   | |   \__/ \_/| |      .__/ \/ \/ \__/ |    \__|._) |
            | | |   '---------------------------------------------------'
             \|/                  \\\ /|   \\\ /|   \\\ /|   \\\ /|
              V                  __\\V /  __\\V /  __\\V /  __\\V /
                                 \___O/   \___O/   \___O/   \___O/
                                     \/\      \/\      \/\      \/\
                                      \/\      \/\      \/\      \/\
                                       (O)      (O)      (O)      (O) </p>
  </div>
  <div class="adds"></div>
  <div class="subs"></div>
  <div class="clearfix footer"></div>

  <div class="navbar"> </div>
</div>
