<div class="layout">
  <div class="header"></div>
  <div class="article">
    this is cool <span class="icon-anchor-2x "></span> slugs rule

    <div class="spam">
      <div class="x-button">
      </div>
    </div>
  </div>
  <div class="story"></div>
  <div class="other">
     <p> lksdjflkdjsflkjsdlfkjsdlfkjdlskfjlskjdflkja sdflj sadlkfj lsakdfj lksadjf lkjsda flkjsd aflkjlfadksj lkasdjf lkdsfja lkdfsjal kadsfj lkdsafj lkadsjf lkdjsaf lkjdfsa lkj afdslkjfads
     lksdjflkdjsflkjsdlfkjsdlfkjdlskfjlskjdflkja sdflj sadlkfj lsakdfj lksadjf lkjsda flkjsd aflkjlfadksj lkasdjf lkdsfja lkdfsjal kadsfj lkdsafj lkadsjf lkdjsaf lkjdfsa lkj afdslkjfads
     lksdjflkdjsflkjsdlfkjsdlfkjdlskfjlskjdflkja sdflj sadlkfj lsakdfj lksadjf lkjsda flkjsd aflkjlfadksj lkasdjf lkdsfja lkdfsjal kadsfj lkdsafj lkadsjf lkdjsaf lkjdfsa lkj afdslkjfads
     lksdjflkdjsflkjsdlfkjsdlfkjdlskfjlskjdflkja sdflj sadlkfj lsakdfj lksadjf lkjsda flkjsd aflkjlfadksj lkasdjf lkdsfja lkdfsjal kadsfj lkdsafj lkadsjf lkdjsaf lkjdfsa lkj afdslkjfads
     lksdjflkdjsflkjsdlfkjsdlfkjdlskfjlskjdflkja sdflj sadlkfj lsakdfj lksadjf lkjsda flkjsd aflkjlfadksj lkasdjf lkdsfja lkdfsjal kadsfj lkdsafj lkadsjf lkdjsaf lkjdfsa lkj afdslkjfads </p>
  </div>
  <div class="adds"></div>
  <div class="subs"></div>
  <div class="clearfix footer"></div>

  <div class="navbar"> </div>
</div>
